body{
    background-image: url(./assets/clock-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.clock-container{
    backdrop-filter: blur(3px);
}

.clock{
    color: white;
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}